<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paciente</title>
    <link rel="stylesheet" type="text/css" href="/formato.css">
</head>
<body>

<h1>Lista de Pacientes</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>
    </tr>
    <tr th:each="v : ${pacientes}">
        <td th:text="${v.id}"> </td>
        <td th:text="${v.nome}"> </td>
        <td th:text="${v.telefone}"> </td>
        <td> <a href="/pacientes/form">Adicionar</a> </td>
        <td> <a th:href="@{/consultas/listapaciente/{id}(id=${v.id})}">Consulta</a> </td>
        <td> <a th:href="@{/cunsultas/edit/{id}(id=${v.id})}">Editar</a> </td>
        <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/consulta/remove/{id}(id=${v.id})}">Excluir</a> </td>
    </tr>
</table>
</body>
</html>