<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<body>

<main>
    <form th:action="${consulta.id == null} ? @{/consultas/save} : @{/consultas/update}" th:object="${consulta}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-row">
            <div class="mb-2 col-lg-6">
                <input class="form-control" type="text" th:field="*{paciente.nome}" placeholder="Paciente">
            </div>
            <div class="mb-2 col-lg-6">
                <input class="form-control" type="text" th:field="*{medico.nome}" placeholder="Medico">
            </div>
            <div class="mb-2 col-lg-6">
                <input class="form-control" type="text" th:field="*{observacao}" placeholder="Observaçao">
            </div>
            <div class="mb-2 col-lg-6">
                <input class="form-control" type="text" th:field="*{valor}" placeholder="Valor">
            </div>

            <select id="pacientes"  th:field="*{paciente.id}" class="form-select">
                <option value="">Selecione...</option>
                <option th:each="p : ${pacientes}"
                        th:value="${p.id}"
                        th:text="${p.nome}">
                </option>

            </select>
            <select id="medicos" th:field="*{medico.id}" class="form-select">
                <option value="">Selecione...</option>
                <option th:each="m : ${medicos}"
                        th:value="${m.id}"
                        th:text="${m.nome}">
                </option>

            </select>
            <div class="mb-2 col-lg-6">
                <input type="submit" value="Enviar">
            </div>
        </div>
    </form>
</main>

</body>
</html>
