<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Medico</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:src="formato.css" />
</head>
<body>

<h1>FORMULARIO</h1>
<form th:action="${medico.id == null} ? @{/medicos/save} : @{/medicos/update}" th:object="${medico}" method="post">
    <input type="hidden" th:field="*{id}">
    <input type="text" th:field="*{nome}"  placeholder="Nome">
    <input type="text" th:field="*{crm}"  placeholder="CRM">
    <input type="submit" value="Enviar">
</form>
</body>
</html>